{% extends 'home/base.html' %}

{% block content %}

<section class="container">
  <h1 class="text-center">All Currencies</h1>

  <div class="currency--list row">
    <table class="table">
      <thead key="thead">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Symbol</th>
          <th>Marlet Cap</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {% for currency in currencies %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ currency.name }}</td>
          <td>{{ currency.symbol }}</td>
          <td>{{ currency.market_cap }}</td>
          <td>{{ currency.price }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

{% endblock %}

