{% extends 'home/base.html' %}

{% block content %}
<section class="container currency">
  <h1 class="text-center">All Currencies</h1>
  <table class="table-3">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Symbol</th>
        <th>Market Cap</th>
        <th>Price</th>
        <th>Add to Dashboard</th>
      </tr>
    </thead>
    <tbody>
      {% for currency in currencies %}
      <tr>
        <td data-label="numb">{{ forloop.counter }}</td>
        <td data-label="name">{{ currency.name }}</td>
        <td data-label="symbol">{{ currency.symbol }}</td>
        <td data-label="market_cap">{{ currency.market_cap }}</td>
        <td data-label="price">{{ currency.price }}</td>
        <td data-label="add"><ion-icon name="add-outline"></ion-icon></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}


