body {
    height: 100vh;
    background: #212529;
    color: white;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

#content {
    width: 100%;
    padding-bottom: 5rem;
}


// === header ====

.header{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}

header div {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-content: center;
}

.logo {
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
}

#logo-page {
    width: 1.5rem;
    height: 1.5rem;
    background: orange;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 50%;
    box-shadow: 5px 5px 40px orange;
}

.nav {
    margin: 0.5rem;
}

.nav a  {
    color: grey;
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
}

.nav .active {
    color: orange;
}

// === end header ====

// === login === 

form{
    width: 100%;
}

.form-input {
    background-color: grey;
    color: white;
    border: none;
    width: 100%;
    padding: 0.66rem;
    border-radius: 10px;
}

label {
    padding: 0.5rem;
}

.button-login {
    margin-top: 1.5rem;
}

// === end login === 


// == currency ===

table {
    width: 100%;
}

table.table-3 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
table.table-3 tr {
    background-color: #212529;
    color: white;
}

table.table-3 th,
table.table-3 td {
    text-align: left;
    padding: 8px;
    border: 1px solid grey;
}

@media screen and (max-width: 600px) {
    table.table-3 {
        border: 0;
    }
    
    table.table-3 thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    
    table.table-3 tr {
        border-bottom: 1px solid #ddd;
        display: block;
        margin-bottom: 30px;
    }
    
    table.table-3 td {
        display: block;
        text-align: right;
    }
    
    table.table-3 td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    table.table-3 td:last-child {
        border-bottom: 0;
    }
}
// == end currency ===
