{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    {% include 'snippets/get-bootstrap-css.html' %}
    {% include 'snippets/get-ioicons.html' %}
    <link href="{% static 'home/css/home.css' %}" rel="stylesheet"/>
    <title>CryptoCurrency</title>
  </head>
  <body>
    <!-- header -->
    {% include 'snippets/header.html' %}

    <section id="content">
      <!-- main content block -->
      {% block content %}{% endblock %}
    </section>

    <!-- footer -->
    {% include 'snippets/footer.html' %}
    
    {% include 'snippets/get-bootstrap-js.html' %}
  </body>
</html>
